@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 5, 5, 5;
  --background-color-rgb: 250, 250, 250;
  --app-nav-bg-color: rgba(56, 62, 84, 255);
  --app-nav-text-color: rgba(250, 250, 250, 255);
  --checkbox-checkmark-color: rgba(204, 255, 204, 255);
  --list-item-width: 600px;
  --list-item-completed-bg: rgba(204, 255, 204, 255);
  --list-item-neutral-bg: rgba(238, 238, 238, 255);
  --list-item-due-bg: rgba(255, 204, 204, 255);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
